In [1]:
import pandas as pd

In [2]:
# 创建 sr
v = [53, 64, 72, 82]
k = ['1 号'
    , '2 号'
    , '3 号'
    , '4 号']
sr = pd.Series(v, index=k)
sr

1 号    53
2 号    64
3 号    72
4 号    82
dtype: int64

索引器 loc（显式）与 iloc（隐式）

In [3]:
# 访问元素
sr.loc['3 号']

72

In [4]:
# 花式索引
sr.loc[['1 号'
    ,
        '3 号']]

1 号    53
3 号    72
dtype: int64

In [5]:
# 修改元素
sr.loc['3 号'] = 100
sr

1 号     53
2 号     64
3 号    100
4 号     82
dtype: int64

In [6]:
# 访问元素
sr.iloc[2]

100

In [7]:
# 花式索引
sr.iloc[[0, 2]]

1 号     53
3 号    100
dtype: int64

In [8]:
# 修改元素
sr.iloc[2] = 100
sr

1 号     53
2 号     64
3 号    100
4 号     82
dtype: int64

使用显式索引时， '1 号':'3 号' 可以涵盖最后一个'3 号'，但隐式与之前一样

In [9]:
# 创建 sr
v = [53, 64, 72, 82]
k = ['1 号'
    , '2 号'
    , '3 号'
    , '4 号']
sr = pd.Series(v, index=k)
sr

1 号    53
2 号    64
3 号    72
4 号    82
dtype: int64

In [10]:
# 访问切片
sr.loc['1 号':'3 号']

1 号    53
2 号    64
3 号    72
dtype: int64

In [11]:
# 访问切片
sr.iloc[0:3]

1 号    53
2 号    64
3 号    72
dtype: int64

In [12]:
# 切片仅是视图
cut = sr.loc['1 号':'3 号']
cut.loc['1 号'] = 100
sr

1 号    100
2 号     64
3 号     72
4 号     82
dtype: int64

In [13]:
# 切片仅是视图
cut = sr.iloc[0:3]
cut.iloc[0] = 100
sr

1 号    100
2 号     64
3 号     72
4 号     82
dtype: int64

In [14]:
# 对象赋值仅是绑定
cut = sr
cut.loc['3 号'] = 200
sr

1 号    100
2 号     64
3 号    200
4 号     82
dtype: int64

In [15]:
# 对象赋值仅是绑定
cut = sr
cut.iloc[2] = 200
sr

1 号    100
2 号     64
3 号    200
4 号     82
dtype: int64

In [16]:
# 字典创建法
i = ['1 号'
    , '2 号'
    , '3 号'
    , '4 号']
v1 = [53, 64, 72, 82]
v2 = ['女'
    ,
      '男'
    ,
      '男'
    ,
      '女']
sr1 = pd.Series(v1, index=i)
sr2 = pd.Series(v2, index=i)
df = pd.DataFrame({'年龄': sr1, '性别': sr2})
df

     年龄 性别
1 号  53  女
2 号  64  男
3 号  72  男
4 号  82  女

In [17]:
# 访问元素
df.loc['1 号'
,
'年龄']

53

In [18]:
# 访问元素
df.iloc[0, 0]

53

In [19]:
# 花式索引
df.loc[['1 号'
    , '3 号'], ['性别'
    ,
                '年龄']]

    性别  年龄
1 号  女  53
3 号  男  72

In [21]:
# 花式索引
df.iloc[[0, 2], [0, 1]]

     年龄 性别
1 号  53  女
3 号  72  男

In [22]:
# 数组创建法
v = [[53,
      '女'], [64,
              '男'], [72,
                      '男'], [82,
                              '女']]
i = ['1 号'
    , '2 号'
    , '3 号'
    , '4 号']
c = ['年龄'
    ,
     '性别']
df = pd.DataFrame(v, index=i, columns=c)
df

     年龄 性别
1 号  53  女
2 号  64  男
3 号  72  男
4 号  82  女

In [23]:
# 切片
df.loc['1 号':'3 号',
'年龄']

1 号    53
2 号    64
3 号    72
Name: 年龄, dtype: int64

In [24]:
# 切片
df.iloc[0:3, 0]

1 号    53
2 号    64
3 号    72
Name: 年龄, dtype: int64

In [25]:
# 提取二维对象的行
df.loc['3 号', :]

年龄    72
性别     男
Name: 3 号, dtype: object

In [26]:
# 提取二维对象的行
df.iloc[2, :]

年龄    72
性别     男
Name: 3 号, dtype: object

In [27]:
# 提取矩阵对象的列
df.loc[:, '年龄']

1 号    53
2 号    64
3 号    72
4 号    82
Name: 年龄, dtype: int64

In [28]:
# 提取矩阵对象的列
df.iloc[:, 0]

1 号    53
2 号    64
3 号    72
4 号    82
Name: 年龄, dtype: int64