In [1]:
import pandas as pd

In [2]:
# 创建 sr
sr = pd.Series([53, 64, 72], index=['1 号'
    , '2 号'
    , '3 号'])
sr

1 号    53
2 号    64
3 号    72
dtype: int64

In [3]:
 # 创建 df
v = [[53,
      '女'], [64,
              '男'], [72,
                      '男']]
df = pd.DataFrame(v, index=['1 号'
    , '2 号'
    , '3 号'], columns=['年龄'
    ,
                        '性别'])
df

     年龄 性别
1 号  53  女
2 号  64  男
3 号  72  男

In [4]:
sr = sr + 10
sr

1 号    63
2 号    74
3 号    82
dtype: int64

In [6]:
df['年龄'] = df['年龄'] + 10
df

     年龄 性别
1 号  73  女
2 号  84  男
3 号  92  男

对象做运算，必须保证其都是数字型对象，两个对象之间的维度可以不同

In [7]:
# 创建 sr1
v1 = [10, 20, 30, 40]
k1 = ['1 号'
    , '2 号'
    , '3 号'
    , '4 号']
sr1 = pd.Series(v1, index=k1)
sr1

1 号    10
2 号    20
3 号    30
4 号    40
dtype: int64

In [8]:
# 创建 sr2
v2 = [1, 2, 3]
k2 = ['1 号'
    , '2 号'
    , '3 号']
sr2 = pd.Series(v2, index=k2)
sr2

1 号    1
2 号    2
3 号    3
dtype: int64

In [9]:
sr1 + sr2

1 号    11.0
2 号    22.0
3 号    33.0
4 号     NaN
dtype: float64

In [10]:
# 设定 df1 和 df2
v1 = [[10,
       '女'], [20,
               '男'], [30,
                       '男'], [40,
                               '女']]
v2 = [1, 2, 3, 6]
i1 = ['1 号'
    , '2 号'
    , '3 号'
    , '4 号'];
c1 = ['年龄'
    ,
      '性别']
i2 = ['1 号'
    , '2 号'
    , '3 号'
    , '6 号'];
c2 = ['牌照']
df1 = pd.DataFrame(v1, index=i1, columns=c1)
df2 = pd.DataFrame(v2, index=i2, columns=c2)
df1, df2

(     年龄 性别
 1 号  10  女
 2 号  20  男
 3 号  30  男
 4 号  40  女,
      牌照
 1 号   1
 2 号   2
 3 号   3
 6 号   6)

In [11]:
 # 加法
df1['加法'] = df1['年龄'] + df2['牌照']
df1

     年龄 性别    加法
1 号  10  女  11.0
2 号  20  男  22.0
3 号  30  男  33.0
4 号  40  女   NaN