In [1]:
import pandas as pd

In [2]:
# 创建畸形 df
v = [[53, 64, 72, 82], ['女'
    ,
                        '男'
    ,
                        '男'
    ,
                        '女']]
i = ['年龄'
    ,
     '性别']
c = ['1 号'
    , '2 号'
    , '3 号'
    , '4 号']
df = pd.DataFrame(v, index=i, columns=c)
df

   1 号 2 号 3 号 4 号
年龄  53  64  72  82
性别   女   男   男   女

In [3]:
# 转置
df = df.T
df

     年龄 性别
1 号  53  女
2 号  64  男
3 号  72  男
4 号  82  女

df.iloc[:, ::-1] 中的 : 表示选择所有行。
::-1 是 切片操作，它表示“从最后一列到第一列”进行逆序操作。
- 第一个冒号 : 表示选择所有行（行不变）。
- 第二个 ::-1 表示列从后往前选择，即逆序

In [4]:
# 左右翻转
df = df.iloc[:, :: -1]
df

    性别  年龄
1 号  女  53
2 号  男  64
3 号  男  72
4 号  女  82

In [5]:
# 上下翻转
df = df.iloc[:: -1, :]
df

    性别  年龄
4 号  女  82
3 号  男  72
2 号  男  64
1 号  女  53

In [6]:
# 数组法创建 sr
i = ['1 号'
    , '2 号'
    , '3 号'
    , '4 号']
v1 = [10, 20, 30, 40]
v2 = ['女'
    ,
      '男'
    ,
      '男'
    ,
      '女']
v3 = [1, 2, 3, 4]
sr1 = pd.Series(v1, index=i)
sr2 = pd.Series(v2, index=i)
sr3 = pd.Series(v3, index=i)
sr1, sr2, sr3

(1 号    10
 2 号    20
 3 号    30
 4 号    40
 dtype: int64,
 1 号    女
 2 号    男
 3 号    男
 4 号    女
 dtype: object,
 1 号    1
 2 号    2
 3 号    3
 4 号    4
 dtype: int64)

In [7]:
# 字典法创建 df
df = pd.DataFrame({'年龄': sr1, '性别': sr2})
df

     年龄 性别
1 号  10  女
2 号  20  男
3 号  30  男
4 号  40  女

In [8]:
# 把sr 并入 df 中
df['牌照'] = sr3
df

     年龄 性别  牌照
1 号  10  女   1
2 号  20  男   2
3 号  30  男   3
4 号  40  女   4

In [9]:
# 把df['年龄']分离成 sr4
sr4 = df['年龄']
sr4

1 号    10
2 号    20
3 号    30
4 号    40
Name: 年龄, dtype: int64

Pandas 中有一个 pd.concat()函数，与 np.concatenate()函数语法相似

In [10]:
# 创建 sr1 和sr2
v1 = [10, 20, 30, 40]
v2 = [40, 50, 60]
k1 = ['1 号'
    , '2 号'
    , '3 号'
    , '4 号']
k2 = ['4 号'
    , '5 号'
    , '6 号']
sr1 = pd.Series(v1, index=k1)
sr2 = pd.Series(v2, index=k2)
sr1, sr2

(1 号    10
 2 号    20
 3 号    30
 4 号    40
 dtype: int64,
 4 号    40
 5 号    50
 6 号    60
 dtype: int64)

In [11]:
 # 合并
pd.concat([sr1, sr2])

1 号    10
2 号    20
3 号    30
4 号    40
4 号    40
5 号    50
6 号    60
dtype: int64

一维对象与二维对象的合并，即可理解为：给二维对象加上一列或者一行

In [12]:
 # 创建 sr1 与sr2
v1 = [10, 20, 30]
v2 = ['女'
    ,
      '男'
    ,
      '男']
sr1 = pd.Series(v1, index=['1 号'
    , '2 号'
    , '3 号'])
sr2 = pd.Series(v2, index=['1 号'
    , '2 号'
    , '3 号'])
sr1, sr2

(1 号    10
 2 号    20
 3 号    30
 dtype: int64,
 1 号    女
 2 号    男
 3 号    男
 dtype: object)

In [13]:
# 创建 df
df = pd.DataFrame({'年龄': sr1, '性别': sr2})
df

     年龄 性别
1 号  10  女
2 号  20  男
3 号  30  男

In [14]:
# 加上一列
df['牌照'] = [1, 2, 3]
df

     年龄 性别  牌照
1 号  10  女   1
2 号  20  男   2
3 号  30  男   3

In [15]:
# 加上一行
df.loc['4 号'] = [40,
                  '女'
    , 4]
df

     年龄 性别  牌照
1 号  10  女   1
2 号  20  男   2
3 号  30  男   3
4 号  40  女   4

In [16]:
# 设定 df1、df2、df3
v1 = [[10,
       '女'], [20,
               '男'], [30,
                       '男'], [40,
                               '女']]
v2 = [[1,
       '是'], [2,
               '是'], [3,
                       '是'], [4,
                               '否']]
v3 = [[50,
       '男'
          , 5,
       '是'], [60,
               '女'
          , 6,
               '是']]
i1 = ['1 号'
    , '2 号'
    , '3 号'
    , '4 号']
i2 = ['1 号'
    , '2 号'
    , '3 号'
    , '4 号']
i3 = ['5 号'
    , '6 号']
c1 = ['年龄'
    ,
      '性别']
c2 = ['牌照'
    , 'ikun']
c3 = ['年龄'
    ,
      '性别'
    ,
      '牌照'
    , 'ikun']
df1 = pd.DataFrame(v1, index=i1, columns=c1)
df2 = pd.DataFrame(v2, index=i2, columns=c2)
df3 = pd.DataFrame(v3, index=i3, columns=c3)
df1, df2, df3

(     年龄 性别
 1 号  10  女
 2 号  20  男
 3 号  30  男
 4 号  40  女,
      牌照 ikun
 1 号   1    是
 2 号   2    是
 3 号   3    是
 4 号   4    否,
      年龄 性别  牌照 ikun
 5 号  50  男   5    是
 6 号  60  女   6    是)

In [17]:
# 合并列对象（添加列特征）
df = pd.concat([df1, df2], axis=1)
df

     年龄 性别  牌照 ikun
1 号  10  女   1    是
2 号  20  男   2    是
3 号  30  男   3    是
4 号  40  女   4    否

In [18]:
# 合并行对象（添加行个体）
df = pd.concat([df, df3])
df

     年龄 性别  牌照 ikun
1 号  10  女   1    是
2 号  20  男   2    是
3 号  30  男   3    是
4 号  40  女   4    否
5 号  50  男   5    是
6 号  60  女   6    是