In [1]:
import pandas as pd

In [2]:
# 创建 sr
v = [53, None, 72, 82]
k = ['1 号'
    , '2 号'
    , '3 号'
    , '4 号']
sr = pd.Series(v, index=k)
sr

1 号    53.0
2 号     NaN
3 号    72.0
4 号    82.0
dtype: float64

In [3]:
# 创建 df
v = [[None, 1], [64, None], [72, 3], [82, 4]]
i = ['1 号'
    , '2 号'
    , '3 号'
    , '4 号']
c = ['年龄'
    ,
     '牌照']
df = pd.DataFrame(v, index=i, columns=c)
df

       年龄   牌照
1 号   NaN  1.0
2 号  64.0  NaN
3 号  72.0  3.0
4 号  82.0  4.0

In [4]:
# 发现 sr 的缺失值
sr.isnull()

1 号    False
2 号     True
3 号    False
4 号    False
dtype: bool

In [5]:
# 发现 df 的缺失值
df.isnull()

        年龄     牌照
1 号   True  False
2 号  False   True
3 号  False  False
4 号  False  False

剔除缺失值使用 .dropna() 方法，一维对象很好剔除；二维对象比较复杂，
要么单独剔除 df 中含有缺失值的行，要么剔除 df 中含有缺失值的列

In [6]:
 # 创建 sr
v = [53, None, 72, 82]
k = ['1 号'
    , '2 号'
    , '3 号'
    , '4 号']
sr = pd.Series(v, index=k)
sr

1 号    53.0
2 号     NaN
3 号    72.0
4 号    82.0
dtype: float64

In [7]:
 # 创建 df
v = [[None, None], [64, None], [72, 3], [82, 4]]
i = ['1 号'
    , '2 号'
    , '3 号'
    , '4 号']
c = ['年龄'
    ,
     '牌照']
df = pd.DataFrame(v, index=i, columns=c)
df

       年龄   牌照
1 号   NaN  NaN
2 号  64.0  NaN
3 号  72.0  3.0
4 号  82.0  4.0

In [8]:
# 剔除 sr 的缺失值
sr.dropna()

1 号    53.0
3 号    72.0
4 号    82.0
dtype: float64

把含有 NaN 的行剔除掉了， 你也可以通过 df.dropna(axis='columns')
的方式剔除列。 但请警惕，一般都是剔除行， 只因大数据中行是个体，列是特征

In [9]:
# 剔除 df 含缺失值的行
df.dropna()

       年龄   牌照
3 号  72.0  3.0
4 号  82.0  4.0

我们可以
设定一个参数，只有当该行全部是 NaN，才剔除该列特征

In [10]:
# 剔除 df 全是 NaN 的个体
df.dropna(how='all')

       年龄   牌照
2 号  64.0  NaN
3 号  72.0  3.0
4 号  82.0  4.0

填充缺失值使用 .fillna() 方法，实际的数据填充没有统一的方法，很灵活

In [11]:
# 创建 sr
v = [53, None, 72, 82]
sr = pd.Series(v, index=['1 号'
    , '2 号'
    , '3 号'
    , '4 号'])
sr

1 号    53.0
2 号     NaN
3 号    72.0
4 号    82.0
dtype: float64

In [12]:
# 用常数（0）填充
sr.fillna(0)

1 号    53.0
2 号     0.0
3 号    72.0
4 号    82.0
dtype: float64

In [13]:
# 用常数（均值）填充
import numpy as np

sr.fillna(np.mean(sr))

1 号    53.0
2 号    69.0
3 号    72.0
4 号    82.0
dtype: float64

In [14]:
# 用前值填充
sr.fillna(method='ffill')

1 号    53.0
2 号    53.0
3 号    72.0
4 号    82.0
dtype: float64

In [15]:
# 用后值填充
sr.fillna(method='bfill')

1 号    53.0
2 号    72.0
3 号    72.0
4 号    82.0
dtype: float64

In [16]:
# 设定 df
v = [[None, None], [64, None], [72, 3], [82, 4]]
i = ['1 号'
    , '2 号'
    , '3 号'
    , '4 号'];
c = ['年龄'
    ,
     '牌照']
df = pd.DataFrame(v, index=i, columns=c)
df

       年龄   牌照
1 号   NaN  NaN
2 号  64.0  NaN
3 号  72.0  3.0
4 号  82.0  4.0

In [17]:
# 用常数（0）填充
df.fillna(0)

       年龄   牌照
1 号   0.0  0.0
2 号  64.0  0.0
3 号  72.0  3.0
4 号  82.0  4.0

In [18]:
# 用常数（均值）填充
import numpy as np

df.fillna(np.mean(df))

       年龄    牌照
1 号  45.0  45.0
2 号  64.0  45.0
3 号  72.0   3.0
4 号  82.0   4.0

In [19]:
# 用前值填充
df.fillna(method='ffill')

       年龄   牌照
1 号   NaN  NaN
2 号  64.0  NaN
3 号  72.0  3.0
4 号  82.0  4.0

In [20]:
# 用后值填充
df.fillna(method='bfill')

       年龄   牌照
1 号  64.0  3.0
2 号  64.0  3.0
3 号  72.0  3.0
4 号  82.0  4.0