In [1]:
import pandas as pd

In [4]:
# 导入 Pandas 对象
df = pd.read_csv('./dataset/行星数据.csv', index_col=0)
# 可在输出 df 时，对其使用 .head() 方法，使其仅输出前五行
print(df.head())

   发现时间  发现数量   观测方法    行星质量   距地距离     轨道周期
0  1989     1   径向速度  11.680  40.57  83.8880
1  1992     3  脉冲星计时     NaN    NaN  25.2620
2  1992     3  脉冲星计时     NaN    NaN  66.5419
3  1994     3  脉冲星计时     NaN    NaN  98.2114
4  1995     1   径向速度   0.472  15.36   4.2308

In [5]:
df.max()

发现时间        2014
发现数量           7
观测方法      轨道亮度调制
行星质量        25.0
距地距离      8500.0
轨道周期    730000.0
dtype: object

In [6]:
df.describe()

              发现时间         发现数量        行星质量         距地距离           轨道周期
count  1035.000000  1035.000000  513.000000   808.000000     992.000000
mean   2009.070531     1.785507    2.638161   264.069282    2002.917596
std       3.972567     1.240976    3.818617   733.116493   26014.728304
min    1989.000000     1.000000    0.003600     1.350000       0.090700
25%    2007.000000     1.000000    0.229000    32.560000       5.442575
50%    2010.000000     1.000000    1.260000    55.250000      39.979500
75%    2012.000000     2.000000    3.040000   178.500000     526.005000
max    2014.000000     7.000000   25.000000  8500.000000  730000.000000

In [7]:
df = pd.read_csv('./dataset/泰坦尼克.csv', index_col=0)

In [8]:
df.head()

  性别    年龄 船舱等级       费用  是否生还
0  男  22.0   三等   7.2500     0
1  女  38.0   一等  71.2833     1
2  女  26.0   三等   7.9250     1
3  女  35.0   一等  53.1000     1
4  男  35.0   三等   8.0500     0

In [9]:
# 一个特征：性别
df.pivot_table('是否生还', index='性别')

        是否生还
性别
女   0.742038
男   0.188908

In [10]:
# 两个特征：性别、船舱等级
df.pivot_table('是否生还', index='性别'
               , columns='船舱等级')

船舱等级        一等        三等        二等
性别
女     0.968085  0.500000  0.921053
男     0.368852  0.135447  0.157407